@font-face {
  font-family: 'SF Pro Regular';
  src: local('SF Pro'), url('./fonts/SF-Pro-Text-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Medium';
  src: local('SF Pro'), url('./fonts/SF-Pro-Text-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Semibold';
  src: local('SF Pro'), url('./fonts/SF-Pro-Text-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Bold';
  src: local('SF Pro'), url('./fonts/SF-Pro-Text-Bold.otf') format('opentype');
}